[user]
	name = Christopher Johnstone
	email = chrispjohnstone97@gmail.com
[core]
	autocrlf = input
	excludesfile = /Users/christopherjohnstone/.gitignore_global
	editor = vim
[init]
	defaultBranch = main
[push]
	default = current
[alias]
    edit = !vim $(git ls-files -o -m --exclude-standard)
