@define-color text      #cad3f5;
@define-color grey      #5b6078;
@define-color highlight #96CDFB;
@define-color alert     #ed8796;


* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

window#waybar {
    background: transparent;
    color: @text;
}

#workspaces,
#clock,
#tray,
#custom-vpn,
#disk,
#memory,
#cpu,
#temperature,
#custom-gpu,
#pulseaudio {
    background-color: @grey;
    color: @text;
    border: none;
    border-radius: 0;
    padding: 0px 5px;
    margin: 5px 0px 5px 0px;
}

#workspaces,
#clock,
#tray {
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#workspaces {
    padding: 0px;
    border-radius: 10px;
}

#workspaces button {
    padding: 0px 5px;
    margin: 0px;
}

#custom-vpn {
    border-radius: 10px 0px 0px 10px;
}

#pulseaudio {
    border-radius: 0px 10px 10px 0px;
    margin-right: 5px;
}

#workspaces button:hover,
#clock:hover,
#custom-vpn:hover,
#disk:hover,
#memory:hover,
#cpu:hover,
#temperature:hover,
#custom-gpu:hover,
#pulseaudio:hover {
    background: @highlight;
    color: @grey;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.active {
    background: @text;
    color: @grey;
}

#workspaces button.urgent {
    background-color: @alert;
    color: @grey;
}
